* {
    box-sizing: border-box;
}


html {
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
    background-image: url(image/background.png);
    background-repeat: repeat;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 10px 10px 10px 10px;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    height: 100px;
    font-size: 0.7rem;
}

.quiz-number, .quiz-score{
    align-self: flex-start;
    font-size: 1rem;
}

@media screen and (max-width: 610px) {

    .title {
        font-size: 1.3rem;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        margin-bottom: -20px;
    }

    .explanation {
        border: 1px solid black;
        margin: 20px;
        padding: 5px;
        background-color: white;
        font-size: 1rem;
    }

}

@media screen and (min-width: 611px) {
    .title {
        font-size: 1.6rem;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        margin-top: -60px;
        margin-bottom: -80px;
    }

    .explanation {
        border: 1px solid black;
        margin: 20px;
        padding: 5px;
        background-color: white;
        font-size: 1em;
    }
}

.nav-score {
    justify-content: space-between;
}


.landing-page {
    margin-left: 10px;
    margin-right: 10px;
}


fieldset {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    border: none;
  }

.question {
    padding-top: 40px;
    padding-bottom: 20px;
}

.answer-box {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid gray;
    background-color: lightgray;
    cursor: pointer;
}

.answer-box:hover {
    border: 1px solid gray;
    background-color: black;
    color: white;
}

button {
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}


.final-score {
    font-family: 'Press Start 2P', cursive;
}